DataD/demographics.csv
DataD/geographic.csv
DataD/green_trips.csv
DataD/mta_trips.csv
DataD/zones.csv
DataD/weather.csv
DataD/uber_trips_2014.csv
DataD/uber_trips_2015.csv
DataD/yellow_trips.csv
Datathon+Project+Statement/Datathon Project Statement/Colombia Problem Statement.pdf
Datathon+Project+Statement/__MACOSX/Datathon Project Statement/._Colombia Problem Statement.pdf
Datathon+Project+Statement/__MACOSX/Datathon Project Statement/._Colombia Table Schema.pdf
Datathon+Project+Statement/Datathon Project Statement/Colombia Table Schema.pdf
